<template>
  <div class="container-full bg-[#062D7C]">
    <!-- navbar dans header -->
    <nav class="flex justify-between z-10">
    <div class="relative mt-8" id="ll">
        <a href="#"><img src="~assets/img/logo-termine1.png" alt="" class=" w-40 relative left-[80%]"></a>
    </div>
    <ul class="flex text-white text-xl mt-8">
        <li><a class=" font-medium font-sans" id="accueil" href="">Accueil</a></li>
        <li><a class="font-medium font-sans" id="programme" href="">Programme</a></li>
        <li><a class="font-medium font-sans" id="speakers" href="">Speakers</a></li>
        <li><a class="font-medium font-sans" id="partenaires" href="">Partenaires</a></li>
        <li><a class="font-medium font-sans" id="contact" href="">Contact</a></li>
    </ul>
  </nav>
    <!-- navbar dans header -->
    
    <!-- Paragraphe sous menu -->
    <div class="w-[48%] mx-auto relative  right-[18%]">
    <h1 class="text-white text-7xl leading-tight mb-5 relative font-semibold font-sans">LE NUMERIQUE <span class="font-medium"> C'EST </span> <br>LE PETROLE <span class="font-medium">DE DEMAIN</span></h1>
    <p class="text-white relatie left-[30%] top-42 text-2xl font-semibold font-sans"><span class="text-[#FD6A80] tracking-widest">17 mai 2023</span> &nbsp; &nbsp; &nbsp; &nbsp; LIBREVILLE, ENSET</p>
    <p class="text-white relative  top-[40px] text-4xl font-bold font-sans">jj-2 : 48h : 00min : 1s</p>
    </div>

  <div class="inline-block relative">
     <button id="dropbtn" class="rounded-md p-2 w-40 bg-[#FD6A80] text-white text-xl text-center cursor-pointer" @click="montre()">S'inscrire</button>
     <img src="~assets/img/s3.png" alt="" class="w-10" id="select" @click="montre()" cursor-pointer>
     <div class="hidden absolute bg-[#f9f9f9] text-4xl font-bold rounded-md z-auto shadow- border border-[#f1f1f1] text-center w-[400%] h-[600%]" id="dropdown-content">
     <h1 class="bg-[#062D7C] text-white ">Vous êtes? </h1>
     <img src="~assets/img/cross.png" alt="" class="w-8 transform translate-x-[1895%] -translate-y-9 cursor-pointer" @click="cacher()">
     <img src="~assets/img/woman.png" class="w-48 tranform translate-x-60" alt="">
      <a href="formulaire1" class="text-black no-underline block hover:bg-[#f1f1f1]" @click="cacher()">UN PARTICULIER</a>
      <a href="formulaire2" class="text-black  no-underline block hover:bg-[#f1f1f1] mt-8" @click="cacher()">UNE INSTITUTION</a>
    </div>
  </div>

   <!-- Paragraphe sous menu-->
  </div>

  <!-- espace de la vidéos -->
  <div class="border-2-white w-[36%] h-[37vh]  absolute top-[8vh] left-[57%]">
    <video class="relative" width="700" height="760" controls autoplay loop muted>
        <source src="~assets/img/video.mp4" type="video/mp4">
        <source src="~assets/img/video.ogg" type="video/ogg">
        Il serait temps de mettre votre navigateur à jour.
</video> 
  </div>

  <!-- premiere section sous le header -->
</template>

<style scoped>
    #ll{
      transform: translateY(-25px);
    }
    #accueil{
      position: relative;
      right: 800px;
      right: 800px;
    }

    #programme{
      position: relative;
      right: 700px;
      right: 700px;
    }

    #speakers{
      position: relative;
      right: 600px;
      right: 600px;
    }

    #partenaires{
      position: relative;
      right: 500px;
      right: 500px;
    }

    #contact{
      position: relative;
      right: 400px;
      right: 400px;
    }


    #dropbtn {
  transform: translate(410px,-356px);
}

#dropdown-content {
  min-width: 130px;
  transform: translate(400px,-370px);
}


#select{
  
  transform: translate(520px,-387px);
}

    #caseMenu{
      height: 70vh !important;
      padding-bottom: -30vh !important;
    }

    .caseMenu{
      height: 70vh !important;
      padding-bottom: -30vh !important;
    }

    #africaLeft{
        clip-path: circle(25.6% at 50% 50%);
        background-color: aquamarine;
        background-image: url('~/assets/img/kisspng-blank-map-africa.jpg');
        position:relative;
        bottom: 30vh;
        right: 3%;
    }

    #circleRight{
      clip-path: circle(55% at 99% 55%) !important;
      z-index: 0;
    }

    .inscription{
      position:relative;
      top:70px;
    }

</style>

<script>
export default {
  methods: {
    montre(){
      let dropcontent=document.getElementById('dropdown-content');
      dropcontent.style.display='block';
    },
    cacher(){
      let dropcontent=document.getElementById('dropdown-content');
      dropcontent.style.display='none';
    }
  }
}
</script>

