<template>
    <div class="carrousel h-[55vh] bg-[#122F55] w-full relative shadow-inherit flex flex-wrap justify-around ronded-md">
    <div class="carrousel h-[55vh] bg-[#122F55] w-full relative shadow-inherit flex flex-wrap justify-around ronded-md">
        <div class="bg-[#122F55] w-[48%] h-[54vh] relative top-2">
            <h2 class="text-white font-extrabold text-2xl relative top-8 left-28 w-[400px]">PARTENAIRES</h2>
            
            <!-- icon de succès -->
            <svg width="49" height="57" viewBox="0 0 89 97" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative left-[33%] bottom-4">
                <path d="M0 0.347656H88.5133V96.9955H0V0.347656Z" fill="white" fill-opacity="0.01"/>
                <path d="M44.2567 8.40186L53.9439 16.1177L65.9345 16.0927L69.6181 28.5523L79.3321 36.2278L75.6051 48.6718L79.3321 61.1158L69.6181 68.7912L65.9345 81.2507L53.9439 81.226L44.2567 88.9417L34.5694 81.226L22.5788 81.2507L18.8952 68.7912L9.18118 61.1158L12.9082 48.6718L9.18118 36.2278L18.8952 28.5523L22.5788 16.0927L34.5694 16.1177L44.2567 8.40186Z" fill="#2F88FF" stroke="#3B3B3B" stroke-opacity="0.79" stroke-width="12.8761" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M31.3485 48.6717L40.5686 58.7392L59.0089 38.6042" stroke="white" stroke-width="12.8761" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-white font-medium tracking-widest text-4xl relative top-28 left-24">Nous croyons en la puissance des <br> partenariats pour créer des résultats <br> incroyables.</p>
        </div>

        
        <div class="w-[48%] h-[54vh] grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 bg-[#122F55] relative top-2">
            <!-- prmière colone Partenaires -->
            <div>
                <!-- logo PNPE -->
                <div class=" bg-white h-[87px] w-[150px] rounded-lg cursor-pointer relative top-20 left-12">
                    <img src="~/assets/img/imagePartenaires/pnpe.png" alt="" class="relative bottom-2 left-4 h-[107px] w-[180]">
                </div>

                <!-- logo diandza -->
                <div class=" bg-white h-[87px] w-[150px] rounded-lg cursor-pointer relative top-32 left-12">
                    <img src="~/assets/img/imagePartenaires/diandza.png" alt="" class="relative top-2 left-2 h-[67px] w-[136px]">
                </div>

                <!-- logo formationPro -->
                <div class="mx-auto h-[87px] w-[150px] border-white rounded-xl px-4 relative top-44 left-[9px] bg-white cursor-pointer">
                    <img src="~/assets/img/imagePartenaires/formationPro.png" alt="" class="w-101 h-20 relative left-4 top-1">
                </div>
            </div>

            <!-- deuxième colone Partenaires -->
           <div>
                <!-- logo basile -->
                <div class=" bg-white h-[87px] w-[150px] rounded-lg cursor-pointer relative top-20 left-12">
                    <img src="~/assets/img/imagePartenaires/basile.png" alt="" class="relative top-[12px] left-[41px] w-[64px] h-[59px]">
                </div>

                <!-- logo ITO -->
                <div class=" bg-white h-[87px] w-[150px] rounded-lg cursor-pointer relative top-32 left-12 ">
                    <img src="~/assets/img/imagePartenaires/ito.png" alt="" class="relative top-[2.5px] left-8 w-101 h-20">
                </div>

                <!-- logo UOB -->
                <div class=" mx-auto h-[87px] w-[150px] border-white rounded-xl px-4 relative top-44 left-2.5 bg-white cursor-pointer">
                    <img src="~/assets/img/imagePartenaires/UOB.png" alt="" class="w-101 h-20 relative left-4 top-2">
                </div>
           </div>
           <!-- troisième colone Partenaires -->
           <div>
                <!-- logo SETEG -->
                <div class=" bg-white h-[87px] w-[150px] rounded-lg cursor-pointer relative top-20 left-[45px]">
                    <img src="~/assets/img/imagePartenaires/seteg.png" alt="" class="relative bottom-[11.5px] left-4 w-[114px] h-[109px]">
                </div>

                <!-- logo CIMFEP -->
                <div class=" mx-auto h-[86.5px] w-[150px] border-white rounded-xl px-4  relative top-32 left-1 bg-white cursor-pointer">
                    <img src="~/assets/img/imagePartenaires/cimfep.png" alt="" class="w-101 h-20 relative left-4 top-1">
                </div>

                <!-- logo Optikah -->
                <div class=" mx-auto h-[87px] w-[150px] border-white rounded-xl px-4 relative top-44 left-1 bg-white cursor-pointer">
                    <img src="~/assets/img/imagePartenaires/optikah.png" alt="" class="w-101 h-20 relative left-4 top-2">
                </div>
           </div>
            <div class=" w-32 mx-auto ">
                <NuxtLink>
                    <svg width="40" height="40" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative top-60 cursor-pointer">
                    <circle cx="47.5" cy="47.5" r="47.5" fill="#7B7B7B" fill-opacity="0.38"/>
                    <path d="M39 69.6139L55.0641 52.0733C56.9613 50.0018 56.9613 46.6121 55.0641 44.5406L39 27" stroke="white" stroke-width="8.13396" stroke-miterlimit="10" stroke-linecap="round"/>
                </svg>
                </NuxtLink>
            </div>
            
        </div>
       
        <!-- <div class="w-16 h-16 bg-[#0045FF] rounded-full absolute right-48 bouleBleu"></div> -->
    </div>
</div>
    
</template>

<script>

</script>

<style scoped>
   #R{
    transform: rotate(0deg);
    opacity: 0.4;
    transition: all 0.3s ease;
   }

   #L{
    transform: rotate(180deg);
    opacity: 0.4;
    transition: all 0.3s ease;
   }

   #R:hover{
        transform: rotate(0deg) scale(1.1);
        opacity: 1;
        transition: all 0.3s ease;
   }

   #L:hover{
        transform: rotate(180deg) scale(1.1);
        opacity:1;
        transition: all 0.3s ease;
}

.logo{
    clip-path: ellipse(55% at 50% 50%);
}

/* .bouleBleu{
    box-shadow: 0 0 0 0 #0045FF;
    animation: battement 1.5s infinite cubic-bezier(.66, 0.40, 0, 1);
} */

@keyframes battement{
    to { 
        box-shadow: 0 0 0 30px rgb(59, 134, 240, 0);
    }
}
</style>