<template>
    <div id="souspragraph" class="w-full h-[80vh] relative bottom-[260px]  bg-white rounded-md">
        <div>  
        <h2 class="text-black font-extrabold text-2xl relative top-10 left-36 w-[400px]">ATELIERS DE FORMATIONS GRATUITES</h2> 
        </div>
        <div class="grid grid-cols-4 uppercase text-white relative gap-0.1 top-20 text-center ml-20 mr-40 ">
            <!-- Première capsule pour les ateliers de formations -->
           <a href="">
            <section class="bg-white h-[350px] w-[310px] rounded-b-xl border-2 mx-0 shadow-xl shadow-black-500/70 hover:shadow-purple-500/50 cursor-pointer transform translate-x-[62px]">
                <div class="bureautique">
                   <img src="~assets/img/office.png" alt="" class="w-48 relative top-12 left-14">
                    <h1 class="text-[#707070] font-bold relative top-16">BUREAUTIQUE <br> INFORMATIQUE</h1>
                    <p class="text-[#707070] font-ligth relative top-20 tracking-wide">D<span class="lowercase">écouvrez les logiciels <br> de microsoft</span></p>
                </div>
            </section>
           </a>
            <!-- Deuxième capsule pour les ateliers de formations -->
            <section class="bg-white h-[350px] w-[310px] rounded-b-xl border-2 mx-0  shadow-xl shadow-black-500/70 hover:shadow-cyan-500/50 cursor-pointer transform translate-x-[62px]">
                <div class="infographie">
                    <img src="~assets/img/infographie.png" alt="" class="w-48 relative top-12 left-14">
                    <h1 class="text-[#707070] font-bold relative top-20">INFOGRAPHIE</h1>
                    <p class="text-[#707070] font-ligth relative top-28 tracking-wide">D<span class="lowercase">ébutez avec les <br>meilleurs logiciels en infographie</span></p>
                </div>
            </section>
            <!-- Troisième capsule pour les ateliers de formations -->
            <section class="bg-white h-[350px] w-[310px] rounded-b-xl border-2 mx-0  shadow-xl shadow-black-500/70 hover:shadow-indigo-500/50 cursor-pointer transform translate-x-[95px]">
                <div class="devweb">
                    <img src="~assets/img/web.png" alt="" class="w-64 relative top-12 left-5">
                    <h1 class="text-[#707070] font-bold relative top-20">DEVELOPPEMENT <br> WEB</h1>
                    <p class="text-[#707070] font-ligth relative top-24 tracking-wide">i<span class="lowercase">nitiation à la <br> programmation web</span></p>
                </div>
            </section>
            <!-- Quatrième et dernière capsule pour les ateliers de formations -->
            <section class="bg-white h-[350px] w-[310px] rounded-b-xl border-2 mx-0  shadow-xl shadow-black-500/70 hover:shadow-[#F1C50E]/50 cursor-pointer transform translate-x-[130px]">
                <div class="scrum">
                    <img src="~assets/img/pdca.png" alt="" class="w-32 relative top-12 left-24">
                    <h1 class="text-[#707070] font-bold relative top-16">GESTION DE PROJET<br>À L'ECHELLE</h1>
                    <p class="text-[#707070] font-ligth relative top-20 tracking-wide">A<span class="lowercase">pprendre la methode  <br>scrum </span></p>
                </div>
            </section>
        </div>
        <!-- partie reserver à décrire les statistiques de l'évenement -->
        <div class="statistiques relative top-[200px] rounded-md">
            <div>  
                <h2 class="text-white font-black text-2xl relative top-10 left-[145px] w-[400px]">STATISTIQUES</h2> 
            </div>
            <div class="flex flex-wrap justify-around">
                <div class="relative top-16 transform -translate-x-14">
                    <h2 class="font-black text-white text-9xl">5000</h2>
                    <p class="font-medium text-white text-xl relative left-28">participants</p>
                </div>
                <div class="relative top-16 transform -translate-x-20">
                    <h2 class="font-black text-white text-9xl">300</h2>
                    <p class="font-medium text-white text-xl relative left-20">entreprises</p>
                </div>
                <div class="relative top-16 transform translate-x-[60px]">
                    <h2 class="font-black text-white text-9xl">50</h2>
                    <p class="font-medium text-white text-xl relative left-8">partenaires</p>
                </div>
            </div>
        </div>
  </div>   
</template>

<style>
.bureautique{
    background-color:#E142DC;
    width: 100%;
    height: 25px;
}

.infographie{
    background-color:#2CBECC;
    width: 100%;
    height: 25px;
}

.devweb{
    background-color:#6751E7;
    width: 100%;
    height: 25px;
}

.scrum{
    background-color:#F1C50E;
    width: 100%;
    height: 25px;
}

.statistiques{
    width: 100%;
    height: 35vh;
    background-color: #0A307E;
}

    .bouleRose{
        box-shadow: 0 0 0 0 rgb(253, 134, 129);
        animation: battement1 1.75s infinite cubic-bezier(.66, 0.40, 0, 1);
    }
    

    .bouleBlanche{
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
        animation: battement2 1.75s infinite cubic-bezier(.66, 0.40, 0, 1);
    }
    

    @keyframes battement1{
        to{
             box-shadow: 0 0 0 30px rgb(253, 134, 129, 0);
        }
    }

    @keyframes battement2{
        to{
            box-shadow: 0 0 0 30px rgb(255, 255, 255, 0);
        }
    }
</style>
