<template>
  <div class="mt-6">
  <div class="bg-gray-200 h-18 grid grid-cols-6 gap-20 justify-items-end" id="mon">
    <div class="mt-10">
      <img class=" h-12 mt-0 ml-14" src="~/assets/img/logo-termine-fond-blanc.png" alt="">
      <div class=" py-5">
        <span class=" text-[#0045FF] ml-20">19 Mai 2023</span>
      </div>
      <div class="ml-20 mt-0">
      <img class="h-10 ml-5" src="~/assets/img/3586361-location-map-navigation-pointer_107948.png" alt="">
      <span>petit paris</span>
    </div>
    </div> 

    <div class="mt-10">
      <h1><strong>Acceuil</strong> </h1><br>
      <p>Lorem ipsum dolor sit amet, <br> consectetur <br> adipisicing elit. Porro impedit sequi <br> veniam facilis eum placeat <br>
       ducimus reic adipisci praesentium </p>
    </div>
    <div class="mt-10">
      <h1> <strong>Programme</strong></h1><br>
      <p>Lorem ipsum dolor sit <br> amet consectetur <br> adipisicing el
         nventore,<br> sapiente <br> quidem tempora, magni, ex rerum?</p>
    </div>
    <div class="mt-10">
      <h1><strong>Partenaires </strong></h1><br>
      <p>Lorem ipsum dolor, sit amet . <br>
       Ab enim dolore pos cumque amet tenetur. <br> Voluptatibus fugit debitis iure expedita.</p>
    </div>
    <div class="mt-10">
    <img class="w-23 ml-28" src="~/assets/img/digitalisierung.svg" alt="">
    <div class="flex mt-10 gap-10 ml-10">
      <a href="https://www.facebook.com/cyberschoolgabon"><img  class="h-5"  src="~/assets/img/facebook.png" alt="facebook"></a> 
      <a href="https://twitter.com/CyberschoolF241"><img class="h-6 w" src="~/assets/img/twitter.png" alt=""></a> 
      <a href=""><img class="h-6" src="~/assets/img/icons8-whatsapp-32.png" alt="whatsapp"></a>
      <a href="https://www.linkedin.com/in/cyberschool-formations-2a6a9222b/"><img class="h-6 b-15" src="~/assets/img/lkin.png" alt="linkedin"></a> 
  </div>
    </div>
    <div class="bg-[#0045FF] h-96 w-28">
    <p class="des text-white">Des Billets </p>  
    </div> 
</div> 
</div>
<div class="bg-gray-100 bottom-0 text-sm text-[#0045FF] ml-96 left-48"><p>© 2023 CYBERSCHOOL  - ENTREPRENEURIAT, tous les droits sont réservés</p>
</div>
<div> 
  <button class="float h-3 w-14 ml-5 mb-10"  @click="goUp()">
   <img  src="~/assets/img/BoutonGoUp.svg">   
  </button>
</div> 
</template>

<script>
export default {
  props: {
    showUpBtn: {
      default: false,
      type: Boolean
    }
  },
  methods: {
    goUp() {
      window.scrollTo(0, 0)
    }
  }
}
</script>
<style scoped >  

  .float {
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;


  }

 .texte{
  font-size: smaller;
 }



  .des{
   margin-top: 210px;
   margin-left: 5px;
   transform: rotate(-90deg);
   
  }

  

  #avril {
    transform: translate(500px);
  }

  #quartier {
    transform: translate(500px);
  }

  #mon {

    background-color: #F8F8F8;
    padding-bottom: 100px;
    height: 42.5vh;
  }

  #foo1 {
    margin-bottom: 0;

  }
</style>

