<template>
    <div>
        
    </div>
</template>
<script>
    import { loadfull } from "tsparticles";
    export default {
      setup(){
        const particlesInit = async engine => {
          await loadfull(engine);
    };
    const particlesLoaded = async container => {
      console.log("Particles container loaded", container);
    };
    return{
      particlesInit,
      particlesLoaded
    }
  }
} 
</script>