<template>
    <div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 mx-auto pb-32 pt-12 pl-64">
           <div>
             <img src="~/assets/img/construction.png" alt=""><br>
             <h1>Aligner offre</h1>
             <h1>et demande</h1><br>
             <p>Aligner offset emploie <br>
             synth schitz,temps et argent <br>
             café d'origine unique et blala.
             </p>
           </div> 

           <div>
             <img src="~/assets/img/roue.png" alt=""><br>
             <h1>aide à trouver</h1>
             <h1>Votre profil</h1><br>
             <p>Aligner offset emploie <br>
             synth schitz,temps et argent <br>
             café d'origine unique et blala.
             </p>
           </div> 

           <div>
             <img src="~/assets/img/roue1.png" alt=""><br>
             <h1>Aligner offre</h1>
             <h1>et demande</h1><br>
             <p>Aligner offset emploie <br>
             synth schitz,temps et argent <br>
             café d'origine unique et blala.
             </p>
           </div> 

           <div>
             <img src="~/assets/img/hom.png" alt=""><br>
             <h1>Aligner offre</h1>
             <h1>et demande</h1><br>
             <p>Aligner offset emploie <br>
             synth schitz,temps et argent <br>
             café d'origine unique et blala.
             </p>
           </div> 
        </div>
    </div>
</template>

<script>
    
</script>

<style scoped>
    h1{
        font-size: 20px;
        font-weight: bold;
    }
</style>