<template>
  <div>
          <nav>
              <ul class="flex justify-evenly transform translate-y-10 text-[#062D7C] bg-white text-xl h-32">
                  <li><a href="#"><img src="~assets/img/logo-termine-fond-blanc.png" alt="" class="w-40" id="logo"></a></li>
                  <li><a href="/">Accueil</a></li>
                  <li><a href="">Programme</a></li>
                  <li><a href="">Speakers</a></li>
                  <li><a href="">Partenaires</a></li>
                  <li><a href="">Contact</a></li>
              </ul>
          </nav>
      <section class="bg-white" id="sec1">
        <div class="w-full">
          <h1 class=" text-white text-2xl text-center py-5">Formulaire d'inscription</h1>
        </div>


        <div class="flex w-full flex-col md:items-center mx-auto lg:flex-row">
        <div class=" md:w-full lg:w-1/2 px-24 my-auto">
          <h1 class="text-white hidden lg:inline-block lg:text-4xl xl:text-5xl 2xl:text-7xl ">
             <span class="font-bold leading-relaxed ">LE NUMERIQUE C'EST </span><span class="font-bold leading-relaxed "> LE PETROLE</span><span class=""> DE DEMAIN</span></h1>
        </div>
       <div class="flex flex-col items-center justify-center lg:px-36 py-8 mx-auto w-full md:w-2/3 lg:w-2/3 xl:w-1/2">
        <div class=" bg-white lg:rounded-md shadow dark:border  dark:bg-gray-800 dark:border-gray-700 w-full">
        <div class="p-6 space-y-4 md:space-y-6">
            <form class="space-y-4 md:space-y-6 " action="#">
              <div>
                  <div class="flex">
                    <label for="institut" class="block text-lg font-medium text-gray-900 dark:text-white mt-2">Type d'institution</label>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transform translate-y-10 -translate-x-8">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg> -->

                  </div>

                    <select name="institution" id="institut" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                          <option value="Entreprise">Entreprise</option>
                          <option value="ONG">ONG</option>
                          <option value="Etablissement d'enseignement supérieur">Etablissement d'enseignement supérieur</option>
                      </select> 
                </div>
          
                <div>
                    <div class="flex">
                      <label for="siege" class="block text-lg font-medium text-gray-900 dark:text-white mt-2">Nom</label>
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transform translate-y-10 -translate-x-14">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg> -->
                    </div>
                    <input type="text" name="Prenom" id="Prenom" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
                    
                 <div>
                      <div class="flex">
                        <label for="coordonnees" class="block  text-lg font-medium text-gray-900 dark:text-white mt-2">Téléphone</label>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transform translate-y-10 -translate-x-20">
                           <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0l-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                       </svg> -->

                      </div>
                     <input type="tel" name="coordonnees" id="coordonnees"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
                
                <div>
                      <div class="flex">
                        <label for="internet" class="block  text-lg font-medium text-gray-900 dark:text-white mt-2">Site internet</label>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 translate-y-10 -translate-x-24">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg> -->

                      </div>
                      <input type="internet" name="internet" id="internet"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
                <div>
                  <div class="flex">
                    <label for="facebook" class="text-lg mt-2">Page facebook</label>
                  </div>
                  <input type="text" name="facebook" id="facebook"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                     
                  </div> 
                <button type="submit" id="bt1" class="rounded-lg bg-[#062D7C] text-white p-2 w-40 ">S'inscrire</button>
            </form>
        </div>
    </div>
</div>
      </div>


</section>

<footer-caroussel />
  </div>
</template>

<script>
export default{
  props:{
    showUpBtn:{
      default:false,
      type:Boolean
    }
  },
  methods:{
    goUp(){
      window.scrollTo(0,0)
    }
  }
}
</script>


<style scoped>

  #phrase1{
    transform: translate(200px,250px);
    width: 40%;
  }


  option{
      font-size:20px;
  }

  #bt2{
      padding: 5px;
      width: 150px;
      font-size: 20px;
      font-weight:bold;
      font-size: 22px;
  }

  .bt2:hover{
      background:orange;
      color:black;
      font-weight:bold;
  }

  #sec1{
     transform:translateY(-20px); 
     height:1200px;
     background-image: url("/assets/img/gif3.gif");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 100vh;
  }
  #div001{
    transform:translate(320px,-390px); 
      width:500px;
  }
  #logo{
      transform:translateY(-30px);
}
.foot{
 width: 60%;
 margin:auto;
}

.float{
position: fixed;
right: 30px;
bottom: 30px;
cursor:pointer;


}

.barre{
 background-color:#0045FF ;
 width: 100px;
 height: 180px;
 justify-content: center;
 
}

.logo{
width: 150px;
height: 100px;
left: 45px;

}

.inclinaison{
transform:rotate(-90deg);
height: 50px;
width: 125px;
text-align: center;
top:40%;
}
h1.inclinaison{
font-weight: 200;
}

#avril{
transform: translate(500px);
}

#quartier{
transform: translate(500px);
}

#mon{

background-color: #F8F8F8;
padding-top: 10px;
padding-bottom: 100px;
}

#foo1{
margin-bottom: 0;

}


</style>
