<template>
  <div>
      <nav>
          <ul class="flex justify-evenly transform translate-y-10 text-[#062D7C] bg-white text-xl h-32">
              <li><a href="#"><img src="~assets/img/logo-termine-fond-blanc.png" alt="" class="w-40" id="logo1"></a></li>
              <li><a href="/">Accueil</a></li>
              <li><a href="">Programme</a></li>
              <li><a href="">Speakers</a></li>
              <li><a href="">Partenaires</a></li>
              <li><a href="">Contact</a></li>
          </ul>
      </nav>
      <div class="bg-white flex flex-col h-full" id="sec">
      <div class="w-full">
        <h1 class=" text-white text-2xl text-center py-5">Formulaire d'inscription</h1>
      </div>
      <div class="flex w-full flex-col md:items-center mx-auto lg:flex-row">
        <div class=" md:w-full lg:w-1/2 px-24 my-auto">
          <h1 class="text-white hidden lg:inline-block lg:text-4xl xl:text-5xl 2xl:text-7xl ">
             <span class="font-bold leading-relaxed ">LE NUMERIQUE C'EST </span><span class="font-bold leading-relaxed "> LE PETROLE</span><span class=""> DE DEMAIN</span></h1>
        </div>
       <div class="flex flex-col items-center justify-center lg:px-36 py-8 mx-auto w-full md:w-2/3 lg:w-2/3 xl:w-1/2">
        <div class=" bg-white lg:rounded-md shadow dark:border  dark:bg-gray-800 dark:border-gray-700 w-full">
        <div class="p-6 space-y-4 md:space-y-6">
            <form class="space-y-4 md:space-y-6 " action="#">
              <div>
                  <div class="flex">
                    <label for="Nom" class="block text-lg font-medium text-gray-900 dark:text-white mt-2">Nom</label>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transform translate-y-10 -translate-x-8">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg> -->

                  </div>
                    <input type="text" name="Nom" id="Nom" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
          
                <div>
                    <div class="flex">
                      <label for="Prenom" class="block text-lg font-medium text-gray-900 dark:text-white mt-2">Prénom</label>
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transform translate-y-10 -translate-x-14">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg> -->
                    </div>
                    <input type="text" name="Prenom" id="Prenom" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
                    
                 <div>
                      <div class="flex">
                        <label for="coordonnees" class="block  text-lg font-medium text-gray-900 dark:text-white mt-2">Téléphone</label>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transform translate-y-10 -translate-x-20">
                           <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0l-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                       </svg> -->

                      </div>
                     <input type="tel" name="coordonnees" id="coordonnees"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
                
                <div>
                      <div class="flex">
                        <label for="email" class="block  text-lg font-medium text-gray-900 dark:text-white mt-2">Adresse mail</label>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 translate-y-10 -translate-x-24">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg> -->

                      </div>
                      <input type="email" name="email" id="email"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
                <div>
                  <div class="flex">
                    <label for="profession" class="text-lg mt-2">Profession</label>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 translate-y-10 -translate-x-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
                   </svg> -->

                  </div>
                      <select name="profession" id="profession" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-xl">
                          <option value="Elève" class="text-xl">Elève</option>
                          <option value="Etudiant(e)" class="text-xl">Etudiant(e)</option>
                          <option value="Salarié"  class="text-xl">Salarié(e)</option>
                          <option value="chômeur" class="text-xl">Chômeur</option>
                      </select> 
                  </div> 
                  <div>
                  <div class="flex">
                    <label for="lieu" class="text-lg">Nom de l'établissement ou de l'entreprise</label>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 translate-y-10 relative right-80 ">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                        </svg> -->


                  </div>
                    <input type="text" name="lieu" id="lieu" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>
                <button type="submit" id="bt1" class="rounded-lg bg-[#062D7C] text-white p-2 w-40 ">S'inscrire</button>
            </form>
        </div>
    </div>
</div>
      </div>
   
</div>
<footer-caroussel />
  </div>
</template>

<script>
export default{
  props:{
    showUpBtn:{
      default:false,
      type:Boolean
    }
  },
  methods:{
    goUp(){
      window.scrollTo(0,0)
    }
  }
}
</script>

<style scoped>

  #bt1{
    font-size: 20px;
    font-weight: bold;
  }

  #bt1:hover{
      background:black;
      color:white;
      font-weight:bold;
      font-size: 22px;
  }

  #sec{
     transform:translateY(-20px); 
     background-image: url("/assets/img/gif3.gif");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
  }
  #div0{
      transform:translate(-100px); 
      width:500px;
  }
  #logo1{
      transform:translateY(-30px); 
  }

  .foot{
 width: 60%;
 margin:auto;
}

.float{
position: fixed;
right: 30px;
bottom: 30px;
cursor:pointer;


}

.barre{
 background-color:#0045FF ;
 width: 100px;
 height: 180px;
 justify-content: center;
 
}

.logo{
width: 150px;
height: 100px;
left: 45px;

}

.inclinaison{
transform:rotate(-90deg);
height: 50px;
width: 125px;
text-align: center;
top:40%;
}
h1.inclinaison{
font-weight: 200;
}

#avril{
transform: translate(500px);
}

#quartier{
transform: translate(500px);
}

#mon{

background-color: #F8F8F8;
padding-top: 10px;
padding-bottom: 100px;
}

#foo1{
margin-bottom: 0;

}

</style>