<template>
  <div>
      <Particles
      id="tsparticles"
      :particlesInit="particlesInit"
      :particlesLoaded="particlesLoaded"
      :options="options"
  />
  <headerCaseMenu/>
  <div class="content">
  <sousHFormationAtelier/>
  <!-- <sectionAvantNosIntervenants/> -->
  <Carrouselnosintervenants/>
  <Evenementdeshoraires/>
  <courassel/>
    <headerFirstCarrousel/>
  <footer-caroussel/>
  </div>
  </div>
</template>
<script>
import { loadFull } from "tsparticles";
export default{
  setup(){
    const particlesInit = async engine => {
    await loadFull(engine);
    };
    const particlesLoaded = async container => {
        console.log("Particles container loaded", container);
    };
    const options= {
                  background: {
                      color: {
                          value: '#0d47a1'
                      }
                  },
                  fpsLimit: 120,
                  interactivity: {
                      detect_on:"canvas",
                      events: {
                          onClick: {
                              enable: true,
                              mode: 'push'
                          },
                          onHover: {
                              enable: true,
                              mode: 'grab'
                          },
                          resize: true
                      },
                      modes: {
                          grab: {
                              distance: 140,
                              line_linked:{
                                  opacity:1
                              },
                              
                          },
                          push: {
                              quantity: 4
                          },
                          repulse: {
                              distance: 200,
                              duration: 0.4
                          }
                      }
                  },
                  particles: {
                      number: {
    value: 100,
    density: {
      enable: true,
      value_area: 800
    }
  },
  color: {
    value: "#ffffff"
  },
  shape: {
    type: "circle",
    stroke: {
      width: 0,
      color: "#000000"
    },
    polygon: {
      nb_sides: 5
    },
    image: {
      src: "img/github.svg",
      width: 100,
      height: 100
    }
  },
  opacity: {
    value: 0.5,
    random: false,
    anim: {
      enable: false,
      speed: 1,
      opacity_min: 0.1,
      sync: false
    }
  },
  size: {
    value: 3,
    random: true,
    anim: {
      enable: false,
      speed: 40,
      size_min: 0.1,
      sync: false
    }
  },
  line_linked: {
    enable: true,
    distance: 150,
    color: "#ffffff",
    opacity: 0.4,
    width: 1
  },
  move: {
    enable: true,
    speed: 1.5,
    direction: "none",
    random: false,
    straight: false,
    out_mode: "out",
    bounce: false,
    attract: {
      enable: false,
      rotateX: 600,
      rotateY: 1200
    }
  }
                  },
                  detectRetina: true
              }
    return{
      particlesInit,
      particlesLoaded,
      options
    }
  }
}
</script>
<style>
.content{
  position: absolute;
  top: 80%;
  width: 100%;
  height: auto;
  background: #ffffff;
}
</style>